#root {
  max-width: 1280px;
  text-align: center;
}
.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #af264baa);
}
.img{
  margin:0.5em;
  width: 100px
}
#article-img{
  width: 300px
}

#loggedin-img{
  width: 100px
}

#username{
  font-size:20px;
}
.nav-link{
  margin:0.5em;
}
.article-img{
  width: 400px;
}

.body{
  text-align: center;
  font-size: larger;
  padding-top:0.5 em;
  padding-bottom:0.5 em;
  padding-left: 1em;
  padding-right: 1em;
}

.author{
  margin-left: 2em;
  text-align: left;
  border-top: solid black;

}
.votes{
  margin-left: 2em;
  text-align: left;
}
.created_at{
  margin-left: 2em;
  text-align: left;
}
.title{
  border-top: solid black;

}